.vs/*
Release/*
Debug/*
SFMLx32-2.3.2/*
SFMLx64-2.3.2/*
x64/*
WarsMaster/x64/*
WarsMaster/Release/*
WarsMaster/Debug/*

infos.txt
WarsMaster.VC.db
WarsMaster.VC.VC.opendb

#Garde le projet (.sln) pour la config